header{
  width: 100%;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 1px 1px #ff0000;
  font-size:54px;
}
h2{
  text-align: center;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px #ff0000;
  font-size:34px;
}
h3{
  text-align: center;
}
img{
  float: right;
  height: 350px;
  width: 350px;
}
li{

}
body{
  background-image: url("/home/kevin/SITES/CONQUERER/image/backgroundimage.jpg");
  background-color: #cccccc;
  color: white;
  font-size: 20px;
}
.footer{
  text-shadow: 1px 1px blue;
  color: white;
  text-align: center;
  font-style: italic;
  background-color: #333333;
  background: linear-gradient(to top, #333333 0%, #ff99cc 333333%);
  position:fixed;bottom:0;left:0;right:0;height:70px;
  padding: 15px;
  padding-top: 0px;
}
#one{
  margin-left: 0px;
  padding: 1em;
  overflow: hidden;
}
